*{
    padding: 0;
    margin: 0;
    border: border-box;
}



header{
    height: 80px;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.header-left{
    height: 20px;
    width: 500px;
    background-color: wheat;
}

.header-right{
    height: 20px;
    width: 400px;
    background-color: wheat;
}

main{
    height: 750px;
    width: 100%;
    background-color: pink;

}

.container{
    max-width: 1170px;
    margin: auto;
}

.main-content{
    width: 100%;
    height: 100%;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;

}

.float-content{
    height: 50%;
    width: 50%;
    background-color: yellow;

}

.menu-column{
    height: 900px;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

.title-column{
    height: 100px;
    width: 100%;
    background-color: brown;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.col{
    display: flex;
    width: calc(50% / 3);
    background-color: whitesmoke;
    border: dashed;
}

.container-flex{
    height: 250px;
    width: 100%;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-enterprise{
    width: 50%;
    height: 50%;
    background-color: royalblue;
    
}

.container-flex-2{
    height: 500px;
    width: 100%;
    background-color: rgb(255, 127, 47);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    height: 1000px;
    width: 100%;
}




.sec-column{
    height: 900px;
    background-color: rgb(186, 198, 21);
    display: flex;
    justify-content: center;
}


.sec{
    display: flex;
    width: calc(100% / 3);
    background-color: whitesmoke;
    border: dashed;
    height: 300px;
}

