*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



header{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
}

.header-left{
    width: 500px;
}

.header-right{
    width: 400px;
    display: flex;
    justify-content: end;
    margin-right: 10px;
}


nav a{
    padding: 10px;
    text-decoration: none;
    color: black;
}

.logo{
    margin-right: 10px;
    width: 150px;
}

button{
    background-color: rgb(4	90	240	);
    color: white;
    padding: 10px;
}

.d-flex{
    display: flex;

}

.wrap{
    flex-wrap: wrap;
}

main{
    width: 100%;

}

.container{
    max-width: 1170px;
    margin: auto;
}

.container-small{
    max-width: 1000px;
    margin: auto;
}

.main-content{
    width: 100%;
    height: 650px;
    background-color: rgb(180	208	231	);
    display: flex;
    justify-content: center;
    align-items: center;

}

.title-float-content{
    height: 50%;
    width: 50%;

}

.float-content{
    width: 100%;
    height: 300px;

}

.img{
    width: 50%;
    float: right;
    height: 450px;
}

.menu-column{
    height: 900px;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

.business{
    padding-top: 80px;
}

.title-column{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.col{
    display: flex;
    width: calc(50% / 3);
    background-color: whitesmoke;
    border: dashed;
    margin: 10px;
}

.container-flex{
    height: 250px;
    width: 100%;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-enterprise{
    width: 50%;
    height: 50%;
    background-color: royalblue;
    
}

.container-flex-2{
    height: 500px;
    width: 100%;
    background-color: rgb(255, 127, 47);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    height: 900px;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}




.sec-column{
    background-color: rgb(186, 198, 21);
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}


.sec{
    display: flex;
    width: calc(100% / 3);
    background-color: whitesmoke;
    border: dashed;
    height: 200px;
}

.title-client{
    display: flex;
    justify-content: center;

}



.square-section{
    display: flex
}

.square{
    width: calc(100% / 3);
    height: calc(100vw / 3);


}

.small-square{
    height: 50%;
    width: 50%;
    border: dashed;
    display: flex;
    justify-content: center;
    align-items: center;
}


.small-square-img{

    height: 40%;
    width: 90%;
}



.final-sec{
    height: 300px;
    width: 100%;
    background-color: rgb(130, 130, 220);
}

.faq{
    height: 200px;
    width: 100%;
    background-color: white;
}

footer{
    height: 300px;
    background-color: black;
    width: 100%;
}







